.MotivationalPoster {
    box-sizing: border-box;
    background-color: black;
    width: 400px;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 20px 30px;
  }
  
  .MotivationalPoster > img {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid white;
  }
  
  .MotivationalPoster > h1 {
    padding: 20px 0px 0px;
    margin: 0px auto;
    font-variant: small-caps;
    letter-spacing: 7px;
    font-size: 32px;
    font-weight: lighter;
    font-family: serif;
    border-bottom: 1px solid white;
    width: fit-content;
  }
  
  .MotivationalPoster > p {
    padding: 10px 0px;
    margin: 0px;
    font-size: 18px;
    font-family: serif;
  }